.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: red;
    z-index: var(--carousel-container-z-index);
}
.itemContainer {
    width: 10%;

}
.item {
    /* width: 100px; */
    padding-top: 150%;
    background-repeat: no-repeat;
    /* background-size: contain; */
    /* background-size: cover; */
    background-size: 100% 100%;
}