.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: red;
    z-index: var(--carousel-container-z-index);
    overflow: hidden;
    display: flex;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.slider {
    /* width: 100%; */
    display: flex;
    flex-wrap: nowrap;
    /* overflow: scroll; */
}
.itemContainer {
    width: 500px;
    flex: 0 0 auto; 
}
.item {
    /* width: 100px; */
    padding-top: 150%;
    background-repeat: no-repeat;
    /* background-size: contain; */
    /* background-size: cover; */
    background-size: 100% 100%;
}