.container {
    /* height: 100vh; */
    /* padding-top: 120px; */
    /* overflow-y: scroll; */
    overflow:hidden;
    height: 100vh;
}

.gridContainer {
    display: grid;
    grid-template-columns: 16fr 3fr;
    /* grid-template-columns: 200px 200px 500px; */
    /* grid-template-columns: 1fr 1fr 1fr */
    /* grid-template-columns: repeat(3, 1fr) */
    /* grid-template-columns: 200px 1fr */
    /* grid-template-columns: 100px 200px auto */

    /* grid-template-rows: 200px 200px 500px; */
    /* grid-template-rows: 1fr 1fr 1fr */
    /* grid-template-rows: repeat(3, 1fr) */
    /* grid-template-rows: 200px 1fr */
    /* grid-template-rows: 100px 200px auto */
    /* grid-auto-rows: minmax(100px, auto); */

    /* row-gap: 10px; */
    /* row의 간격을 10px로 */
    /* column-gap: 20px; */
    /* column의 간격을 20px로 */
    /* overflow:hidden */
    margin-top: 120px;
    margin-top: calc(120px - constant(safe-area-inset-bottom));
    margin-top: calc(120px - env(safe-area-inset-bottom));
}

/* .gridContainerItem:nth-child(1) { */
/* 1번 라인에서 2칸 */
/* grid-column: 1 / span 2; */
/* 1번 라인에서 3칸 */
/* grid-row: 1 / span 3; */
/* } */

.pagesContainerDiv {
    margin-left: 30px;
    overflow: scroll;
    height: calc(100vh - 200px)
}

.splitThePage {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.radioControlDiv {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.radioControlTitle {
    font: normal normal normal var(--size-vertical-font) 'gmarket-sans-bold';
    visibility: collapse;
    margin-left: 30px;
}

.radioSpanContainer {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.radioInput {
    display: flex;
    align-items: center;
    margin: 0;
}

.radioText {
    font: normal normal normal 12px 'gmarket-sans-medium';
    margin-left: 5px;
}

.radioSpan {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.radioSpan:hover .radioText{
    /* font: 'gmarket-sans-bold'; */
    font: normal normal normal 12px 'gmarket-sans-bold';
    /* background-color: red; */
}
.selectedRadioText {
    font: normal normal normal 12px 'gmarket-sans-bold';
}

/* page */
.pageDiv {
    /* width: 500px; */
    /* height: 500px; 1076/1519 */
    padding-top: 150%;
    /* height: 1000px; */
    /* height: 2000px; */
    background-repeat: no-repeat;
    background-size: contain;
    /* background-size: cover; */
    background-position: center top;
    /* overflow: visible; */
    background-attachment: local;
    /* overflow-y: scroll; */
}

/* side menus */
.sideMenuListContainer {
    margin-top: 30px;
    padding-left: 20px;
}
.sideSubRouteUl {
    overflow: scroll;
    height: calc(100vh - 150px);
}
.sideSubrouteLi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.sideSublinkTextDiv {
    width: 220px;
    height: 50px;
    border-radius: 10px 0 0 10px;
    /* background-color: var(--color-light-teal); */
    background-color: var(--color-side-btn-base);

    display: flex;
    justify-content: left;
    align-items: center;

    padding-left: 20px;
}

.sideSublinkText {
    color: var(--color-text-black);
    text-decoration: none;
    font: normal normal normal var(--size-vertival-side-sub-link-font) 'gmarket-sans-light';
}

/* side menu effect */
.selectedSideSublinkTextDiv {
    background-color: var(--color-light-teal);
}
.selectedSideSublinkText {
    font: normal normal normal var(--size-vertival-side-sub-link-font) 'gmarket-sans-medium';
}

@keyframes gridContainerItemExpansion {
    from {
        /* opacity: 1; */
        /* display: block; */
        width: 100%;
    }

    to {
        /* opacity: 0; */
        /* display: none; */
        width: 100vw;
    }
}

@media only screen and (max-width: 768px),
only screen and (device-width: 912px) {
    .sideMenuListContainer {
        transition: ease all .3s;
        transform: scaleX(0);
        transform-origin: 100% 0%;
        /* display: none; */
    }

    .gridContainerItem {
        /* transition: ease all .3s; */
        /* width: 1200px; */
        animation: gridContainerItemExpansion .3s;
        animation-fill-mode: forwards;
    }

    .gridContainer {
        /* grid-template-columns: 1fr;
        transition: ease all .3s; */
        border-top: 1px solid var(--color-white);
    }

    .pagesContainerDiv {
        margin: 0 20px;
    }

    .radioControlTitle {
        visibility: visible;
        margin: 0 20px;
    }
    .gridContainer {
        margin-top: var(--top-container-pad-m);
    }
}
@media only screen and (max-width: 414px),
only screen and (device-width: 540px) {
    .pagesContainerDiv {
        margin: 15px 15px 0px 15px;
    }
    .radioControlDiv {
        justify-content: flex-start;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    .radioControlTitle {
        visibility: visible;
        margin: 15px 15px 0px 15px;
    }
}